*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 100vh;
    width: 100%;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1455' height='560' preserveAspectRatio='none' viewBox='0 0 1455 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1051%26quot%3b)' fill='none'%3e%3cpath d='M-46.33 117.65 a129.45 129.45 0 1 0 258.9 0 a129.45 129.45 0 1 0 -258.9 0z' fill='rgba(25%2c 87%2c 154%2c 0.49)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M639.367%2c433.042C702.302%2c437.278%2c759.284%2c396.714%2c790.62%2c341.971C821.75%2c287.589%2c826.347%2c218.925%2c791.895%2c166.584C760.086%2c118.258%2c697.221%2c112.466%2c639.367%2c112.183C580.811%2c111.897%2c513.066%2c114.112%2c484.235%2c165.08C455.638%2c215.634%2c490.595%2c273.472%2c519.696%2c323.738C548.708%2c373.85%2c581.594%2c429.154%2c639.367%2c433.042' fill='rgba(25%2c 87%2c 154%2c 0.49)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1210.924%2c540.488C1260.995%2c540.977%2c1314.954%2c532.663%2c1341.832%2c490.415C1370.328%2c445.623%2c1362.303%2c388.705%2c1337.268%2c341.891C1310.507%2c291.849%2c1267.646%2c247.332%2c1210.924%2c245.626C1151.757%2c243.847%2c1098.1%2c281.406%2c1070.694%2c333.874C1045.117%2c382.84%2c1053.351%2c442.189%2c1084.375%2c487.899C1111.87%2c528.41%2c1161.966%2c540.009%2c1210.924%2c540.488' fill='rgba(25%2c 87%2c 154%2c 0.49)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M365.035%2c553.269C380.713%2c552.615%2c394.373%2c543.018%2c401.756%2c529.171C408.713%2c516.124%2c406.848%2c500.891%2c399.93%2c487.823C392.45%2c473.692%2c381.005%2c460.573%2c365.035%2c459.801C347.937%2c458.975%2c332.397%2c469.36%2c323.764%2c484.142C315.054%2c499.057%2c313.739%2c517.644%2c322.593%2c532.474C331.249%2c546.972%2c348.165%2c553.973%2c365.035%2c553.269' fill='rgba(25%2c 87%2c 154%2c 0.49)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1051'%3e%3crect width='1455' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
    background-repeat: no-repeat;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 9px 19px;
    border-radius: 32px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

}

nav .logo{
    color: black;
    font-size: 32px;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 600;
}

nav ul a{
    position: relative;
    color: black;
    text-decoration: none;
    padding: 6px 0;
    font-weight: 500;
}

nav li a::before{
    content: '';
    position: absolute;
    height: 3px;
    width: 0;
    bottom: 0;
    left: 0;
    border-radius: 12px;
    background-color: #3463ef;
    transition: all 0.4s ease;
}

nav ul li{
    display: inline-block;
    padding: 0px 20px;
}

nav li a:before{
    width: 100%;
    bottom: -5px;
    opacity: 0;
}

nav li a:hover:before{
    bottom: 0px;
    opacity: 1;
}

.content{
    width: 80%;
    height: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .text{
    width: 40%;
}

.content .text h2{
    color: #002fba;
    font-size: 42px;
    font-weight: 700;
    letter-spacing: 2px;


}

.content .text p{
    font-size: 18px;
    line-height: 25px;
    margin: 11px 0;
}

.content .img{
    width: 65%;
}

.content .img img{
    width: 800px;
}