.profile-container{
    /* background-color: #4070f4; */
}
.booking{
    width: 60%;
    display: flex;
    align-items: flex-start;
}
.doctor{
    display: flex;
}
.booking .appintments-container{
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-right: 15px;
}
.booking .appintments-container .appointments-filteration{
    padding: 14px;
}
.booking .appintments-container .title .background{
    background-color: #4070f4;
    color: white;
    display: flex;
    margin: auto;
}

.profile-container section{
    width: 80%;
    display: flex;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    margin: 70px;
    padding: 30px;
}
.doctor-info img{
    width: 15vi;
    height: 15vi;
    border-radius: 50%;
    border: 2px #4070f4 solid;
}

.info{
    margin: auto 0;
    padding-left: 9px;
    display: flex;
    justify-content: space-between;
}

.info .name{
    font-size: 20px;
    font-weight: 100;
}

.doctor-bio .text{
    display: flex;
    margin: 5px;
}

.doctor-bio .text > *{
    margin: 5px;
}

.doctor-bio .text .bio{
    border-left: 3px #4070f4 solid;
    padding-left: 2px;
}

.doctor-bio .text .bio p{
    padding-left: 8px;
}

.doctor-bio .text .title{
    display: flex;
    justify-content: center;
    background-color: #4070f4;
    color: white;
    height: 40px;
    width: 250px;
}

.rate-area {
	float: left;
	border-style: none;
}

.rate-area:not(:checked) > input {
	position: absolute;
	top: -9999px;
	clip: rect(0, 0, 0, 0);
}

.rate-area:not(:checked) > label {
	float: right;
	width: 0.8em;
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
	font-size: 180%;
	color: lightgrey;
}

.rate-area:not(:checked) > label:before {
	content: "★";
}

.rate-area > input:checked ~ label {
	color: gold;
}

.rate-area:not(:checked) > label:hover,
.rate-area:not(:checked) > label:hover ~ label {
	color: gold;
}

.rate-area > input:checked + label:hover,
.rate-area > input:checked + label:hover ~ label,
.rate-area > input:checked ~ label:hover,
.rate-area > input:checked ~ label:hover ~ label,
.rate-area > label:hover ~ input:checked ~ label {
	color: gold;
}

.fa-star{
    color: lightgrey;
}
.checked {
    color: #4070f4;
} 