.booking{
    width: 60%;
    display: flex;
    align-items: flex-start;
}
.doctor{
    display: flex;
}
.booking .appintments-container{
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-right: 15px;
}
.booking .appintments-container .appointments-filteration{
    padding: 14px;
}
.booking .appintments-container .title .background{
    background-color: #4070f4;
    color: white;
    display: flex;
    margin: auto;
}

.profile-container section{
    width: 80%;
    display: flex;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    margin: 70px;
    padding: 30px;
}
.doctor-info img{
    width: 15vi;
    height: 15vi;
    border-radius: 50%;
    border: 2px #4070f4 solid;
}

.info{
    margin: auto 0;
    padding-left: 9px;
    display: flex;
    justify-content: space-between;
}

.info .name{
    font-size: 20px;
    font-weight: 100;
}

.doctor-bio .text{
    display: flex;
    margin: 5px;
}

.doctor-bio .text > *{
    margin: 5px;
}

.doctor-bio .text .bio{
    border-left: 3px #4070f4 solid;
    padding-left: 2px;
}
    
.doctor-bio .text .bio p{
    padding-left: 8px;
}

.doctor-bio .text .title{
    display: flex;
    justify-content: center;
    background-color: #4070f4;
    color: white;
    height: 40px;
    width: 250px;
}

.rate-area {
	float: left;
	border-style: none;
}

.rate-area:not(:checked) > input {
	position: absolute;
	top: -9999px;
	clip: rect(0, 0, 0, 0);
}

.rate-area:not(:checked) > label {
	float: right;
	width: 0.8em;
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
	font-size: 180%;
	color: lightgrey;
}

.rate-area:not(:checked) > label:before {
	content: "★";
}

.rate-area > input:checked ~ label {
	color: #4070f4;
}

.rate-area:not(:checked) > label:hover,
.rate-area:not(:checked) > label:hover ~ label {
	color: #4070f4;
}

.rate-area > input:checked + label:hover,
.rate-area > input:checked + label:hover ~ label,
.rate-area > input:checked ~ label:hover,
.rate-area > input:checked ~ label:hover ~ label,
.rate-area > label:hover ~ input:checked ~ label {
	color: #4070f4;
}

.fa-star{
    color: lightgrey;
}
.checked {
    color: #4070f4;
}

.available-days{
    display: flex;
    gap: 15px;
    margin: 10px;
}

.available-days .day{
    background-color: #4070f4;
}

.reviews{
    display: flex;
    flex-direction:column;
}

.reviews .title{
    margin-bottom: 53px;
    background-color: #4070f4;
    color: white;
}
.reviews .title h1{
    margin-left: 5px;
}
.reviews .user-review{
    border-bottom: #4070f4 1px solid;
    padding: 10px;
    margin: 10px;
}

.reviews .user{
    display: flex;
    justify-content: space-between;
}
.reviews .user .user-name{
    display: flex;
    align-items: center;
    gap: 10px;
}

.reviews .user .user-name .user-img img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.add-review {
    margin-bottom: 100px;
    max-width: 100%;
}
.add-review .comment {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
.add-review .submit_rating .submit .submit-btn {
    background-color: #4070f4;
    color: white;
    width: 100px;
    height: 40px;
    margin-top: 4px;
    border-radius: 20px;
    transition: all 1s ease;
    cursor: pointer;
    border: none;
    font-size: 16px;
}
.submit_rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.add-review .submit_rating .submit .submit-btn:hover {
    background-color: #002fba;
}
.rate-area {
    float: left;
    border-style: none;
}
.rate-area:not(:checked) > input {
    position: absolute;
    top: -9999px;
    clip: rect(0, 0, 0, 0);
}
.rate-area:not(:checked) > label {
    float: right;
    width: 0.8em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 180%;
    color: lightgrey;
}
.rate-area:not(:checked) > label:before {
    content: "★";
}
.rate-area > input:checked ~ label {
    color: #4070f4;
}
.rate-area:not(:checked) > label:hover,
.rate-area:not(:checked) > label:hover ~ label {
    color: #4070f4;
}
.rate-area > input:checked + label:hover,
.rate-area > input:checked + label:hover ~ label,
.rate-area > input:checked ~ label:hover,
.rate-area > input:checked ~ label:hover ~ label,
.rate-area > label:hover ~ input:checked ~ label {
    color: #4070f4;
}
.form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.invalid-feedback {
    color: red;
    display: none;
}
.was-validated .comment:invalid + .invalid-feedback {
    display: block;
}
.was-validated .rating input[type="radio"]:invalid + .invalid-feedback {
    display: block;
}
.form-control{
    width: 100%;
}