.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
}

.form{
    background-color: rgb(255, 255, 255);
    width: 50%;
    max-width: 430;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.form-container .form{
    padding: 30px;
}

.form-container .form .title{
    position: relative;
    font-size: 27px;
    font-weight: 600;
}

.form .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: #4070f4;
    border-radius: 26px;
}

.login .input_field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 30px;
}

.input_field input{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 3px solid #ccc;
    border-top: 2px solid transparent;
    transition: all 0.4s ease;
}

.input_field input:focus {
    font-size: 15px;
    border-bottom-color: #4070f4;
}

.input_field input:focus ~ .icon {
    color: #4070f4;
}

.input_field i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 24px;
}

.input_field i.icon{
    left: 0;
    font-size: 24px;
}

.input_field i.showHidePw{
    right: 0;
    cursor: pointer;
    font-size: 24px;
    padding: 10px;
}


.form .checkbox-text{
    margin-top: 10px;
    display: flex;
    align-items: centerf;
    justify-content: space-between;
}
.checkbox-text .checkbox-content{
    display: flex;
    align-items: center;
}

.checkbox-content input{
    accent-color: #4070f4;
    margin: 0 8px 0 4px;
}
.form .text{
    color: #333;
    font-size: 14px;
}

.form a.text{
    color: #4070f4;
    text-decoration: none;
    transition: 0.4s ease;
}

.form a.text:hover{
    color: #0735b6;
}

.form a:hover{
    text-decoration: underline;
}

.form .button{
    margin-top: 35px;
    display: flex;
    justify-content: center;

}

.form .button input{
    border-radius: 10px;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    background-color: #4070f4;
    transition: all 0.5s ease;
    cursor: pointer;
    bottom: -4px;
}

.form .button input:hover{
    background-color: #265df2;
    border-radius: 30px;
    width: 70%;
}

.form .login-signup{
    margin-top: 30px;
    text-align: center;
}

.form .name {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}


.form .name {
    color: #265df2;
}

.input_field .error_msg{
    width: 10px;
    height: 3px;
}

.name .input_field .error_msg{
    width: 100%;
    height: 3px;
    position: relative;
    z-index: 3;
}

.readonly input{
    background-color: #c3c3c3;
}
.readonly .icon{
    color: #eeeded;
}

.setting{
    width: 80%;
}

.setting span{
    display: block;
}

.setting .button input{
    width: 50%;
}

.setting .button input:hover{
    width: 48%;
}

.setting .upload-img{
    margin-top: 30px;
    border: none;
}