.home{
    width: 100%;
    height: 90%;
}

.fotter{
    position: relative;
    bottom: -9%;
}
.content{
    width: 90%;
    height: 57%;
    margin: 100px auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.content .text{
    width: 40%;
    text-align: start;
}

.content .text h2{
    color: #3463ef;
    font-size: 42px;
    font-weight: 700;
    letter-spacing: 2px;

}

.content .text p{
    font-size: 18px;
    line-height: 25px;
    margin: 11px 0;
}

.content .img{
    margin-left: 55px;
    width: 63%;

}

.content .img img{
    width: 800px;
}

.content .text button{
    padding: 19px 36px;
    background-color: transparent;
    font-size: 15px;
    border-radius: 30px;
    border: 2px solid #002fba;
    transition-duration: 0.4s;
    line-height: 0%;
    margin-top: 3px;
    cursor: pointer;
}

.content .text button:hover{
    background-color: #002fba;
    /* background-color: rgba(25, 87, 154, 0.49); */
    color: white;
    border: 1px solid;
    scale: .9;
    transition: 2s;
}

.search-continer{
    display: flex;
    justify-content: center;
    height: 8%;
}

.search{
    line-height: 50px;
    background-color: #4070f4db;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-continer .search form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 0 20px;
    line-height: 12px;
    border-radius: 25px;
}

.search-continer form .search-bar{
    width: 221px;
    line-height: 30px;
    border-radius: 35px;
    border: none;
    padding-left: 10px;
}

.search-name{
    display: flex;
    margin-right: 20px;

}
.search form .search-specialization, .search-location{
    display: flex;
    border-right: 1px rgb(255, 255, 255) solid;
    padding: 10px 23px;
    margin: 20px;
}

.search form .search-specialization i, .search-location i, .search-name i{
    margin: auto;
    font-size: 20px;
    color: white;
    margin-right: 10px;
}

.search form .select{
    border: none;
    background-color: white;
    font-size: 20px;
    border-radius: 20px;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-bottom: #3463ef 1px solid;
}

.search form .button{
    width: 100px;
    line-height: 30px;
    border: none;
}

.search-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
    color: #333;
    transition: all 1s ease;

}

.search-button i {
    font-size: 20px;
    color: white;
}

.search-button:hover{
    scale: 1.1;
}
.top-specialists{
    background-color: #4070f4;
    width: 100%;
    height: 25%;
    display: flex;
    margin: auto;
    margin-top: 100px;
    justify-content: center;
    margin-top: 200px;
    align-items: center;
}
.top-specialists .specialists-container{
    width: 80%;
    display: flex;
    justify-content: center;
    margin: auto;
    gap: 20px;
}

.top-specialists .specialists-container > *{
    color: white;
    width: 25%;
    font-size: 100px;
    border-radius: 50%;
    border: 3px white solid;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.top-rating-doctors{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.top-rating-doctors .doctor{
    max-width: 100%;
    display: block;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 10px 10px 20px 10px;
}
.top-rating-doctors .doctor .image{
    background-color: #265df2;
    width: 24vi;
    height: 19vi;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 51px;
    border-bottom-style: hidden;
}
.top-rating-doctors .doctor .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-rating-doctors .doctor .text .name{
    margin: 14px auto;
}

.top-rating-doctors .doctor .text .bio{
    text-align: center;
}

.top-rating-doctors .doctor .text .name strong{
    font-weight: 500;
    font-size: 22px;
}

.top-rating-doctors .doctor .image img{
    width: 320px;
    border-radius: 26%;
}

.owl-stage-outer{
    width: 90%;
}

