.home{
    width: 100%;
    height: 90%;
    /* background-color: #002fba; */
}
.fotter{
    position: relative;
    bottom: -9%;
}
.content{
    width: 80%;
    height: 57%;
    position: relative;
    top: 100px;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.content .text{
    width: 40%;
    text-align: start;
}

.content .text h2{
    color: #3463ef;
    /* color: white; */
    font-size: 42px;
    font-weight: 700;
    letter-spacing: 2px;

}

.content .text p{
    font-size: 18px;
    line-height: 25px;
    margin: 11px 0;
}

.content .img{
    position: relative;
    right: -55px;
    width: 63%;
}

.content .img img{
    width: 800px;
}

.content .text button{
    padding: 19px 36px;
    background-color: transparent;
    font-size: 15px;
    border-radius: 30px;
    /* border: 2px solid #002fba; */
    border: 2px solid #002fba;
    transition-duration: 0.4s;
    line-height: 0%;
    margin-top: 3px;
    cursor: pointer;
}

.content .text button:hover{
    background-color: #002fba;
    /* background-color: rgba(25, 87, 154, 0.49); */
    color: white;
    border: 1px solid;
    scale: .9;
    transition: 2s;
    /* border: none; */
}

.search-continer{
    display: flex;
    justify-content: center;
    position: relative;
    top: 80px;
    height: 8%;
}

.search{
    line-height: 50px;
    border: rgb(34, 56, 179) 1px solid;
    border-radius: 35px;
    /* background-color: #4dacf0; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-continer .search form{
    /* border: #3463ef 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 0 20px;
    line-height: 12px;
    /* line-height: 50px; */
    border-radius: 25px;
}

.search-continer form .search-bar{
    /* border: 1px black solid; */
    width: 180px;
    border-radius: 35px;
    margin-left: 100px;
}

.search form .search-specialization, .search-location{
    margin-right: -31px;
    border-right: 1px black solid;
    /* border-radius: 13px;  */
    padding: 10px 23px;
}


.search form .select{
    border: none;
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-bottom: #3463ef 1px solid;
}

.search form .button{
    border-radius: 10px;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    background-color: #4070f4;
    transition: all 0.5s ease;
    cursor: pointer;
    width: 15%;
    line-height: 200%;
    bottom: -4px;
}
.search form .button:hover{
    background-color: #265df2;
    border-radius: 30px;
}