@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
  
 nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2px;
    width: 100%;
    margin: auto;
    padding: 9px 19px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    background-color: white;

}

nav .logo{
    color: black;
    font-size: 28px;
    text-decoration: none;
    text-transform: capitalize;
    padding-left: 15px;
    font-weight: 599;
    border-right: #ccc 1px solid;
    padding-right: 13px;
}

.logo::first-letter{
    color: #3463ef;
    border-bottom: 1px solid black;
}

nav ul a{
    position: relative;
    color: black;
    text-decoration: none;
    padding: 6px 0;
    font-weight: 500;
}

nav li > a::before{
    content: '';
    position: absolute;
    height: 3px;
    width: 0;
    bottom: 0;
    left: 0;
    border-radius: 12px;
    background-color: #3463ef;
    transition: all 0.4s ease;
}

nav li a.account-icon::before{
    background-color: #fff;
}
nav ul li.dropdown:hover{
    scale: 1;
}
nav ul li{
    display: inline-block;
    padding: 0px 20px;
    transition: 0.4s;
}

nav li a:before{
    width: 100%;
    bottom: -5px;
    opacity: 0;
}

nav li a:hover:before{
    bottom: 0px;
    width: 100%;
    opacity: 1;
}

.account-icon span{
    height: 27px;
    width: 27px;
    color: white;
    background-color: #3954db;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
}

.dropdown {
        position: relative;
        display: inline-block;
}

.dropdown-contents {
    display: none;
    position: absolute;
    min-width: 89%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 3px;
    top: 30px;
    right: 24px;
    height: 99px;
    z-index: 1;
    width: 317%;

}

.dropdown-contents a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
}

.dropdown .account-icon{
    cursor: pointer;
}


.dropdown:hover .dropdown-contents {
    display: block;
    height: fit-content;
    padding: 10px;
    width: 400%;
    background-color: white;
}

.db-content{
    border-bottom: 1px #ccc solid;
}
.db-content:hover{
    border-bottom: 1px #3463ef solid;
}
.db-content a{
    display: inline-block;
    position: relative;
    left: 50px;
    height: 30%;
}
.db-content.icon:hover{
    color: #3463ef;
}
.db-content.logout:hover{
    color: #ef3434;
    border-bottom: 1px #ef3434 solid;
}

.flash{
    color: #fff;
    display: flex;
    position: absolute;
    right: 400px;
    text-align: center;
    visibility: visible;
    width: 50%;
    height: 54px;
    margin: 30px auto 0;
    background-color: #40c04fc8;
    animation-name: popup;
    animation-duration: 1.3s;
    justify-content: center;
    border-radius: 16px;
    margin: auto;
}

.flash span{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
}

.damage{
    background-color: #ff1919c8;
}

.popup{
    position: absolute;
    color: #fff;
    text-align: center;
    margin: 71px auto -211px;
    width: 60%;
    position: relative;
    height: 0px;
    justify-content: center;
    background-color: #3463ef;
    align-items: center;    
    animation-name: popup;
    animation-duration: 1.3s;
}
@keyframes popup {
    from {transform: translate(0%, -50%) scale(0.1);}
    to {transform: translate(0%, 0%) scale(1);}
}

.popup img{
    align-content: center;
    margin: auto;
    position: relative;
    bottom: 22%;
}

.popup h2{
    color: black;
    position: relative;
    bottom: 15%;
}

.popup span{
    color: black;
    position: absolute;
    z-index: -5;
}

.open-popup{
    transition: all 0.4s ease-in-out;
    top: 30%;
}


.dog-names{
    width: 1px;
}