{% extends "index.html" %}
{% block content %}
<div class="profile-container">
    <section class="doctor-info">
        <img src="/static/doctors_images/{{ doctor.image }}" alt="">
        <div class="info">
            <div class="text">
                <div class="name">
                    <h1>Doc. {{ doctor.first_name }} {{ doctor.last_name }}</h1>
                </div>
                <div class="location">
                    <i class="fa-solid fa-location-dot"></i>
                    <span>{{ doctor.location.location_name }}</span>
                </div>
                <div class="specialization">
                    <i class="fa-solid fa-stethoscope"></i>
                    <span>{{ doctor.specialization.specialization_name }}</span>
                </div>
                <div class="rating-stars">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </div>
            </div>
        </div>
    </section>
    <div class="doctor">
        <div class="div">
            <section class="doctor-bio">
                <div class="text">
                    <div class="title">
                        <h1>Bio</h1>
                    </div>
                    <div class="bio">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit sapiente quod dolorem saepe aliquam, iure ea! Consectetur voluptas eum labore cumque molestiae, nihil amet a accusantium saepe ex voluptate? Eaque.</p>
                    </div>
                </div>
            </section>
            <section class="reviews">
                <div class="title">
                    <h1>Reviews</h1>
                </div>
                {% for review in reviews %}
                <div class="user">
                    <div class="user-name">
                        <div class="user-img">
                            <img src="/static/doctors_images/doctor1.jpg" alt="">
                        </div>
                        <strong>{{ review.Patient.first_name }} {{ review.Patient.last_name }}</strong>
                    </div>
                    <div class="user-rating">
                        {% for star in range(review.rating) %}
                            <span class="fa fa-star checked"></span>
                        {% endfor %}
                        {% for star in range(5 - review.rating) %}
                            <span class="fa fa-star"></span>
                        {% endfor %}
                    </div>
                </div>
                <div class="user-review">
                    <div class="text">
                        {{ review.review_text }}
                    </div>
                </div>
                {% endfor %}
                <div class="add-review">
                    <form action="{{ url_for('add_review', doctor_id=doctor.id) }}" method="POST">
                        {{ form.hidden_tag() }}
                        {{ form.text(class_='comment') }}
                        <div class="submit_rating">
                            <div class="submit">
                                {{ form.submit(class_='submit-btn') }}
                            </div>
                            <div class="rating">
                                <ul class="rate-area">
                                    <input type="radio" id="5-star" name="rating" value="5" /><label for="5-star" title="Amazing">5 stars</label>
                                    <input type="radio" id="4-star" name="rating" value="4" /><label for="4-star" title="Good">4 stars</label>
                                    <input type="radio" id="3-star" name="rating" value="3" /><label for="3-star" title="Average">3 stars</label>
                                    <input type="radio" id="2-star" name="rating" value="2" /><label for="2-star" title="Not Good">2 stars</label>
                                    <input type="radio" id="1-star" name="rating" value="1" /><label for="1-star" title="Bad">1 star</label>
                                </ul>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
        <div class="booking">
            <div class="appointments-container">
                <div class="title">
                    <div class="background"><h3>Appointments</h3></div>
                </div>
                <div class="schedule">
                    <h4>Available Days:</h4>
                    <select id="day-selector">
                        {% for day in next_7_days %}
                            <option value="{{ day }}">
                                {% if loop.index0 == 0 %}
                                    Today
                                {% else %}
                                    {{ day }}
                                {% endif %}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div id="appointments">
                    <h4>Available Appointments:</h4>
                    <form id="appointment-form" action="/doctor/{{ doctor.id }}/book" method="POST">
                        <select id="appointment-time" name="appointment_time">
                            <option value="" disabled selected>Select a time</option>
                        </select>
                        <input type="hidden" id="selected-date" name="selected_date">
                        <button type="submit">Book Appointment</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const doctorId = "{{ doctor.id }}";
    const daySelector = document.getElementById('day-selector');
    const appointmentTime = document.getElementById('appointment-time');
    const selectedDate = document.getElementById('selected-date');
    const appointmentList = document.getElementById('appointment-list');

    daySelector.addEventListener('change', function() {
        const selectedDay = daySelector.value;
        selectedDate.value = selectedDay;
        fetch(`/doctor/${doctorId}/appointments/${selectedDay}`)
            .then(response => response.json())
            .then(data => {
                appointmentTime.innerHTML = '<option value="" disabled selected>Select a time</option>';
                if (data.valid_appointments.length > 0) {
                    data.valid_appointments.forEach(time => {
                        const option = document.createElement('option');
                        option.value = time;
                        option.textContent = time;
                        appointmentTime.appendChild(option);
                    });
                } else {
                    appointmentTime.innerHTML = '<option value="" disabled selected>No available appointments</option>';
                }
            });
    });
});
</script>
{% endblock content %}
