{% extends "index.html"%}
{% block content %}
<div class="search-continer">
    <input type="search" placeholder="Search for the best doctors" class="search-bar">
</div>
<div class="content home">
    <div class="text">
        {{current_user.first_name}} {{current_user.last_name}} Home Page
        <h2>We are here for your care</h2>
        <h2>Find a Doctor</h2>
        <form action="{{ url_for('search') }}" method="get">
            <label for="specialization">Specialization:</label>
            <input type="text" id="specialization" name="specialization" required>
            
            <label for="location">Location:</label>
            <input type="text" id="location" name="location" required>
            
            <button type="submit">Search</button>
        </form>
    </div>
    <div class="img">
        <img src="../static/images/1.png" alt="">
    </div>
</div>

{% endblock content %}