{% extends "index.html"%}
{% block content %}
    <div class="profile">
        <section class="profile-content user-info">
            <div class="profile-background">
            </div>
            <div class="account-info">
                <div class="image-username">
                    <img src="{{image_file}}" alt="">
                    <div class="text">
                        <h1 class="username">{{current_user.first_name}} {{current_user.last_name}}</h1>
                        <button type="text"><a href="{{ url_for('settings') }}">edit profile</a></button>
                    </div>
                </div>
            </div>
        </section>

        <section class="profile-content user-appointments">
            {% if user_appointments %}
            <h1 class="title">Your appointmetns</h1>
            <div class="appointmetns">
                    {% for appointmetn in user_appointments %}
                    <a href="{{url_for('doctor_profile', doctor_id=appointmetn.doctor.id)}}">
                        <div class="appointment">
                            <!-- {{appointmetn.doctor.image}} -->
                            <img src="/static/doctors_images/{{appointmetn.doctor.image}}" alt="">
                            <div class="text">
                                <div class="doctor-name info">
                                    <i class="fa-solid fa-user-doctor"></i>
                                    <h2>{{appointmetn.doctor.first_name}} {{appointmetn.doctor.last_name}}</h2>
                                </div>
                                <div class="date info">
                                    <i class="fa-regular fa-calendar-days"></i>
                                    <p>{{appointmetn.appointment_date}}</p>
                                </div>
                                <div class="time info">
                                    <i class="fa-regular fa-clock"></i>
                                    <p>{{appointmetn.appointment_time}}</p>
                                </div>
                                <div class="timer info">
                                    <p id="demo-{{ loop.index }}"></p>
                                    <input type="hidden" id="appointment-datetime-{{ loop.index }}" value="{{ appointmetn.appointment_date }} {{ appointmetn.appointment_time }}">
                                </div>
                                <form action="{{ url_for('delete_appointment', appointment_id=appointmetn.id) }}" method="POST">
                                    <a class="delete" href="{{url_for('delete_appointment', appointment_id=appointmetn.id)}}">Delete</a>
                                </form>
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                {% else %}
                    <h1>No appointments yet..</h1>
                {% endif %}
            </div>  
        </section>
    </div>
    </div>
{% endblock content %}
