<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='forms.css') }}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <title>Document</title>
</head>
<body>
    <div class="container" style="max-width: 600px;">
        <div class="forms">
            <div class="form login">
                <span class="title">Registeration</span>
                <form action="#">
                    <div class="name">
                        <div class="input_field">
                            <input type="text" placeholder="first name">
                            <i class="uil uil-user icon"></i>
                        </div>
                        <div class="input_field">
                            <input type="text" placeholder="last name">
                            <i class="uil uil-user icon"></i>
                        </div>
                    </div>
                    <div class="input_field">
                        <input type="text" placeholder="email">
                        <i class="uil uil-envelope icon"></i>
                    </div>
                    <div class="input_field">
                        <input type="password" class="password" placeholder="password">
                        <i class="uil uil-lock icon"></i>
                        <i class="uil uil-eye-slash showHidePw"></i>
                    </div>
                    <div class="input_field">
                        <input type="password" class="password" placeholder="Confirm your password">
                        <i class="uil uil-lock icon"></i>
                        <i class="uil uil-eye-slash showHidePw"></i>
                    </div>
                    <div class="checkbox-text">
                        <div class="checkbox-content">
                            <input type="checkbox" id="logCheck">
                            <label for="logCheck" class="text">Remember Me</label>
                        </div>

                        <a href="#" class="text">Forgot password?</a>
                    </div>

                <div class="input_field button">
                    <input type="button" value="Login Now" required>
                </div>
            </form>

            <div class="login-signup">
                <span class="text">Not a member?
                    <a href="#" class="text signup-text">Sign Up</a>
                </span>
            </div>
            </div>
        </div>
    </div>


    <script src="{{ url_for('static', filename='js/form.js') }}"></script></body>
</html>
