{% extends "index.html" %}
{% block content %}
<div class="form-container">
    <div class="form login">
        <span class="title">Registration</span>
        <form action="{{ url_for('register') }}" method="POST">
            {{ form.hidden_tag() }}
            <div class="name">
                <!-- First Name input field -->
                <div class="input_field">
                    {{ form.first_name(class_='input first_name') }}
                    <i class="uil uil-user icon"></i>
                </div>
                {% if form.first_name.errors %}
                {% for error in form.first_name.errors %}
                    <div class="error_msg">
                        <span style="color: red;">{{error}}</span>
                    </div>
                {% endfor %}
                {% endif %}
    
                <!-- Last Name input field -->
                <div class="input_field">
                    {{ form.last_name(class_='input') }}
                    <i class="uil uil-user icon"></i>
                </div>
                {% if form.last_name.errors %}
                {% for error in form.last_name.errors %}
                    <div class="error_msg">
                        <span style="color: red;">{{ error }}</span>
                    </div>
                {% endfor %}
                {% endif %}
    
            </div>

            <!-- Email input field -->
            <div class="input_field">
                {{ form.email(class_='input email') }}
                <i class="uil uil-envelope icon"></i>
            </div>
            {% if form.email.errors %}
            <style>
                .input_field .email:focus {
                    border-bottom-color: red;
                }
                
                .input_field .email:focus ~ .icon {
                    color: red;
                }
            </style>
                <div class="error_msg">
                    <span style="color: red;">{{ form.email.errors[0] }}</span>
                </div>
            {% endif %}

            <!-- Password input field -->
            <div class="input_field">
                {{ form.password(class_='input password') }}
                <i class="uil uil-lock icon"></i>
                <i class="uil uil-eye-slash showHidePw"></i>
            </div>
            {% if form.password.errors %}
            <style>
                .input_field .password:focus {
                    border-bottom-color: red;
                }
                
                .input_field .password:focus ~ .icon {
                    color: red;
                }
            </style>
            {% for error in form.password.errors %}
                <div class="error_msg">
                    <span style="color: red;">{{ error }} Try another password</span>
                </div>
            {% endfor %}
            {% endif %}

            <!-- Confirm password input field -->
            <div class="input_field">
                {{ form.confirm_password(class_='input password') }}
                <i class="uil uil-lock icon"></i>
                <i class="uil uil-eye-slash showHidePw"></i>
            </div>
            {% if form.confirm_password.errors %}
            <style>
                .input_field .password:focus {
                    border-bottom-color: red;
                }
                
                .input_field .password:focus ~ .icon {
                    color: red;
                }
            </style>
            {% for error in form.confirm_password.errors %}
                <div class="error_msg">
                    <span style="color: red;">{{ error }}</span>
                </div>
            {% endfor %}
            {% endif %}

            <!-- Remember input field -->
            <div class="checkbox-text">
                <div class="checkbox-content">
                    {{form.remember()}}
                    <label for="logCheck" class="text">Remember Me</label>
                </div>
                <a href="#" class="text">Forgot password?</a>
            </div>

            <!-- Sign in redirection -->
            <div class="input_field button">
                {{ form.submit(class_='button') }}
            </div>
            <div class="login-signup">
                <span class="text">Already have an account?
                    <a href="{{ url_for('login') }}" class="text signup-text">Sign In</a>
                </span>
        </div>
        </form>
    </div>
</div>
<script src="{{ url_for('static', filename='js/form.js') }}"></script>
{% endblock content %}
